/*---------------------ESTILOS GENERALES---------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(45deg, rgb(73, 73, 73), rgb(113, 1, 189)); */
    /* background: #222327; */
    background-image: url(../Imagenes/gargantuaV.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.container-fluid { /*div general*/
    margin-top: 0;
    margin-bottom: 0;
}

.enlace_inicio a { /*boton de inicio*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    color: #111;
    margin-top: 3%;
    margin-bottom: 0;
    margin-left: 4%;
}

.enlace_inicio a:hover { /*el hover del boton de inicio*/
    color: #ff1252;
}

/*---------------------ESTILOS GENERALES---------------------*/

.diagrama { /*todos los diagramas*/
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo_nombre { /*div del titilo de todas las rutas de aprendizaje*/
    color: rgb(255, 255, 255);
    background:rgba(128, 128, 128, 0.3);
    padding: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
}

/*---------------------DIAGRAMAS DE FLUJO---------------------*/

#flowchart { /*div general de los digramas*/
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.titulo, .texto {
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background-color: #333;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    word-wrap: break-word; /* Permite que las palabras se dividan para ajustarse al contenedor */
    max-width: none; /* Elimina la restricción de ancho máximo */
}

.titulo { /*titulos de los diagramas*/
    background-color: #770000; /* Cambia el color de fondo de los títulos */
    font-size: 1.4em; /* Aumenta el tamaño del texto de los títulos */
}

.texto:hover { /*hover del contenido de los diagramas*/
    background-color: #555;
}

.titulo:hover { /*hover del titulos de los diagramas*/
    background-color: #b92323;
}

/*---------------------DIV DEL COPYRIGHT DE THE GHOST*/
div .copyright {
    color: rgb(255, 255, 255);
    background:rgba(128, 128, 128, 0.3);
    padding: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
}