* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../Imagenes/gargantuaH.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.enlace_inicio a { /*enlaces del inicio*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    color: #111;
    margin-left: 2%;
}

.enlace_inicio a:hover { /*hover del inicio*/
    color: #ff1252;
}

.icono_ruta a { /*icono de las rutas de aprondizajes*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    color: #111;
    margin-left: 40%;
}

.icono_ruta a:hover { /*hover del icono de las rutas de aprondizajes*/
    color: #ff1252;
}

.titulo { /*titulo de la pagina*/
    color: rgb(255, 255, 255);
    background:rgba(128, 128, 128, 0.3);
    padding: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
    margin-bottom: 2%;
    margin-top: -4%;
}

.sub_titulo { /*subtitulos de las paginas*/
    color: #fff;
    align-content: center;
}

div .copyright { /*estilos del copyright*/
    color: rgb(233, 232, 232);
    background:rgba(128, 128, 128, 0.8);
    margin: 5%;
    padding: 2.5%;
    padding-left: 2.5;
    padding-right: 2.5;
}

div .row .info_js  {
    color: rgb(177, 177, 177);
    background:rgba(128, 128, 128, 0.15);
    margin: 5%;
    padding: 2.5%;
    padding-left: 2.5;
    padding-right: 2.5;
    border-radius: 20px;
}