/*-----------------------------AVRIABLES-----------------------------*/

:root {
    --bottom-color: rgba(143, 0, 0, 0.678);
    --bottom-border: rgba(143, 0, 0, 0.678);
    --bottom-hover: rgba(255, 7, 7, 0.685);
    
    
}

/*-----------------------------ESTILOS DE LA PAGINA-----------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(45deg, rgb(73, 73, 73), rgb(113, 1, 189)); */
    /* background: #222327; */
    background-image: url(../Imagenes/gargantuaH.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*-----------------------------MENÚ DESPLEGABLE DE LAS REDES SOCIALES-----------------------------*/
.menu {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 100px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(80px);
}

.menu.active li {
    transform: rotate(calc(360deg / 8 * var(--i)));
}

.menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    transform: rotate(calc(360deg / -8 * var(--i)));
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
    color: #111;
    transition: 0.5s;
}

.menu li a:hover{
    color: #ff1252;

}

.toggle {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    font-size: 2em;
    transition: transform 1.25s;
}

.menu .active .toggle {
    transform: rotate(315deg);
}

/*-----------------------------ESTILOS GENERALES DEL INFO Y DEL CONTACTO-----------------------------*/
.titulo {/*titulo principal de la pagina*/
    color: rgb(255, 255, 255);
    background:rgba(128, 128, 128, 0.3);
    padding: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    text-align: center;
}

.enlace_inicio a { /*enlace de inicio y del fantasmita*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    color: #111;
    margin-top: 5%;
    margin-bottom: 0;
    margin-left: 45%;
    
}

.enlace_inicio a:hover { /*el hover del enlace del inicio y del fantasmita*/
    color: #ff1252;
}

div .info_texto1, div .info_texto2, div .info_texto3 { /*los 3 div de la info de la empresa*/
    color: rgb(255, 255, 255);
    background:rgba(128, 128, 128, 0.8);
    margin: 0.5%;
    padding: 2.5%;
    padding-left: 2.5;
    padding-right: 2.5;
}

div .info_texto1, div .info_texto2 { /*los 2 primeros div de la info de la empresa*/
    margin-top: 4%;
}

div .info_texto1 { /*el div de la izq de la info de la empresa*/
    margin-left: 3%;
}

div .info_texto2 { /*el div de la der de la info de la empresa*/
    margin-right: 3%;
}

div .info_texto3 { /*el div de abajo de la info de la empresa*/
    margin-bottom: 4%;
    margin-left: 3%;
    margin-right: 3%;
}

div .info_texto1:hover { /*el div de la izq de la info de la empresa*/
    animation: float 2s infinite alternate;
    background:rgb(80, 79, 79);
    color: white;
}

div .info_texto2:hover { /*el div de la der de la info de la empresa*/
    animation: float 2s infinite alternate;
    background:rgb(80, 79, 79);
    color: white;
}

div .info_texto3:hover { /*el div de la izq de la info de la empresa*/
    animation: float 2s infinite alternate;
    background:rgb(80, 79, 79);
    color: white;
}

.copyright { /*el copyright*/
    color: rgb(233, 232, 232);
    background:rgba(128, 128, 128, 0.3);
    padding: 2.5%;
    padding-left: 2.5;
    padding-right: 2.5;
    width: 100%;
}

div .mensaje, div .asunto { /*el asuto y el mensaje del correo*/
    margin: 2%;
    padding: 2.5%;
}

div .textarea textarea .asunto { /*el cuadro de texto donde va el asunto del correo*/
    width: 300px;
    height: 100px;
}

div .textarea textarea .mensaje{ /*el cuadro de texto donde va el mensaje del correo*/
    width: 300px;
    height: 200px;
}

div .direccion { /*el div de la direccion de nuestras oficinas*/
    color: rgb(255, 255, 255);
    background:rgba(128, 128, 128, 0.8);
    margin: 3%;
    padding: 2.5%;
    padding-left: 2.5;
    padding-right: 2.5;
}

div .direccion:hover { /*el hover del div de la direccion de nuestras oficinas*/
    animation: float 2s infinite alternate;
    background:rgb(80, 79, 79);
    color: white;
}

.enviar_correo { /*estilos del boton de enviar del correo*/
    align-items: center;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--bottom-color);
    border-color: var(--bottom-border);
}

.enviar_correo:hover { /*hover del boton de enviar del correo*/
    background-color: var(--bottom-hover);
    border-color: var(--bottom-hover);
}

.icono_ruta a ion-icon {
    width: 80%;
    height: 80%;
}

.enlace_inicio a ion-icon {
    width: 60%;
    height: 60%;
}

li a ion-icon {
    width: 60%;
    height: 60%;
}

/*-----------------------------EN PROCESO, AL PARECER NO SE ENCUENTRA EN LA PAGINA LA REFERENCIA DE LA CLASE-----------------------------*/
/* .redes_sociales a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    color: #111;
}

.redes_sociales a:hover {
    color: #ff1252;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
} */
/*-----------------------------EN PROCESO, AL PARECER NO SE ENCUENTRA EN LA PAGINA LA REFERENCIA DE LA CLASE-----------------------------*/