* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(45deg, rgb(73, 73, 73), rgb(113, 1, 189)); */
    /* background: #222327; */
    background-image: url(./The_Ghost.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.enlace_inicio a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    color: #111;
}

.enlace_inicio a:hover {
    color: #ff1252;
}

.diagrama {
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position-absolute {
    height: 60vh;
}

.titulo_nombre {
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(128, 128, 128, 0.15);
    margin: 1%;
    padding: 1%;
    padding-left: 2.5;
    padding-right: 2.5;
    border-radius: 20px;
}

#flowchart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.titulo {
    height: 60px;
    width: 500px;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background-color: #333;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
}

.texto {
    height: 60px;
    width: 400px;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    background-color: #333;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.texto:hover {
    background-color: #555;
}

.titulo:hover {
    background-color: #555;
}

div .copyright {
    background:rgba(128, 128, 128, 0.15);
    margin: 5%;
    padding: 2.5%;
    padding-left: 2.5;
    padding-right: 2.5;
    border-radius: 20px;
}