/* ----------------estilos generales---------------- */
*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    
    background: rgb(104, 156, 216);
}

/* -------------estilos del formulario-------------- */
.global_form .form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 750px;
    margin: auto;
    margin-top: 40%; /* Define el margen superior */
    padding-bottom: 40%; /* Define el margen inferior */
}


.global_form .form_container .form_class{
    background: rgb(255, 255, 255);
    max-width: 92%;
    width: 300rem;
    padding-top: 50px;
    padding: 50px;
}

.blockpass{
    position: absolute;
    padding-left: 500px;
}

/* ----------------------estilos del login -----------------------*/

.caja_login {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo {
    color: #333;
}


.inicio_sesion {
    align-items: center;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.registro {
    align-items: center;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.inicio_sesion:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

a {
    color: white;
}

.position-absolute hr h5 h6{
    padding-bottom: 40%;
    color: white;
    align-items: center;

}

/* --------------estilos del inicio de sesion------------------- */
.form_inicio {
    margin-top: auto;
    padding-top: auto;
    max-height: 300rem;
}



/********Media Querys********/
@media (max-width:990px) {
    body{
        background-position-y: +180px;
        background: rgb(104, 156, 216);
    }
    
}

@media (max-width:520px) {
    body{
       
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: center;
        background: rgb(104, 156, 216);
    }

    
    
}