/* ---------estilos para el mensaje de bienvenida------------ */
.bien_div {
    align-items: center;
    padding-top: 20%;
    background: rgb(104, 156, 216);
    
}

.php_style {
    color: white;
    text-align: center;
    font-size: 70px;
}

.bienvenido {
    color: white;
    text-align: center;
    font-size: 100px;
}

.name_php {
    color: white;
    text-align: center;
    font-size: 100px;
}