/* ----------------estilos generales---------------- */
*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(45deg, rgb(73, 73, 73), rgb(113, 1, 189)); */
    /* background: #222327; */
    background-image: url(../The_Ghost_logo2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* -------------estilos del formulario-------------- */
.global_form .form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 750px;
    margin: auto;
    margin-top: 40%; /* Define el margen superior */
    padding-bottom: 40%; /* Define el margen inferior */
}


.global_form .form_container .form_class{
    background: rgba(87, 87, 87, 0.6);
    max-width: 92%;
    width: 300rem;
    padding-top: 50px;
    padding: 50px;
    color: #fff;
}

.blockpass{
    position: absolute;
    padding-left: 500px;
}

/* ----------------------estilos del login -----------------------*/

.caja_login {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(87, 87, 87, 0.6);
}

.titulo {
    color: rgb(255, 255, 255);
}


.inicio_sesion {
    align-items: center;
    /* background-color: #007bff;
    border-color: #007bff; */
    color: #fff;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(201, 0, 0);
    border-color: rgb(201, 0, 0);
}

.registro {
    align-items: center;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(201, 0, 0);
    border-color: rgb(201, 0, 0);
}

.registro:hover {
    background-color: #ff4848;
    border-color: #ff4848;
}

.inicio_sesion:hover {
    background-color: #ff4848;
    border-color: #ff4848;
}

a {
    color: white;
}

.position-absolute hr h5 h6{
    padding-bottom: 40%;
    color: white;
    align-items: center;

}

div .copyright {
    color: rgb(233, 232, 232);
    background:rgba(128, 128, 128, 0.3);
    margin: 5%;
    padding: 2.5%;
    padding-left: 2.5;
    padding-right: 2.5;
    /* border-radius: 20px; */
}

/* --------------estilos del inicio de sesion------------------- */
.form_inicio {
    margin-top: auto;
    padding-top: auto;
    max-height: 300rem;
}



/********Media Querys********/
@media (max-width:990px) {
    body{
        background-position-y: +180px;
        background: rgb(104, 156, 216);
    }
    
}

@media (max-width:520px) {
    body{
       
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: center;
        background: rgb(104, 156, 216);
    }

    
    
}