/*-----------------AVRIABLES-------------------------*/

:root {
    --bottom-color: rgba(124, 0, 0, 0.3);
    --bottom-border: rgba(124, 0, 0, 0.3);
    --bottom-hover: rgba(255, 7, 7, 0.389);
    
    
}

/* ----------------ESTILOS GENERALES---------------- */
*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: linear-gradient(45deg, rgb(73, 73, 73), rgb(113, 1, 189)); */
    /* background: #222327; */
    background-image: url(../gargantua.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.position-absolute h5 h6{ /*titulo y el nombre de the ghost*/
    padding-bottom: 40%;
    color: white;
    align-items: center;

}

div .copyright { /*el copyright del final de la pagian*/
    color: rgb(233, 232, 232);
    background:rgba(0, 0, 0, 0.2);
    bottom: 0;
    margin: 5%;
    padding: 2.5%;
    padding-left: 2.5;
    padding-right: 2.5;
    margin-top: 20px; /* Reduce el margen superior del div de derechos de autor */
    margin-bottom: 20px; /* Reduce el margen inferior del div de derechos de autor */
    padding: 10px; /* Ajusta el relleno del div de derechos de autor según sea necesario */
    /* border-radius: 20px; */
}

a { /*texto dentro de los botones*/
    color: white;
}

/* ----------------------ESTILOS DEL LOGIN PRINCIPAL-----------------------*/

.caja_login { /*estilos generales de la caja del login*/
    /* border-radius: 10px; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: rgb(56, 56, 56);
    background:rgba(128, 128, 128, 0.4);
}

.titulo { /*estilos del titulo del login*/
    color: rgb(56, 56, 56);
}

/* -------------ESTILOS GENERALES DE LOS 2 FORMULARIOS-------------- */

.global_form .form_container { /*el div principal que abarca todo el form*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 750px;
    margin: auto;
    margin-top: 25%; /* Define el margen superior */
    padding-bottom: 25%; /* Define el margen inferior */
}


.global_form .form_container .form_class{ /*etiqueta form*/
    background: rgb(255, 255, 255);
    max-width: 92%;
    width: 300rem;
    padding-top: 10px;
    padding: 10px; 
}

.blockpass{ /*ojo de las contraseñas*/
    position: absolute;
    padding-left: 500px;
}

.inicio_sesion { /*estilos del botón de inicio de sesion del login*/
    align-items: center;
    background-color: var(--bottom-color);
    border-color: var(--bottom-border);
    color: #fff;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.registro { /*estilos del boton de registro deo login*/
    align-items: center;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: var(--bottom-color);
    border-color: var(--bottom-border);
}

.registro:hover { /*hover del boton de registro del login*/
    background-color: var(--bottom-hover);
    border-color: var(--bottom-hover);
}

.inicio_sesion:hover { /*hover del boton de inicio de sesion del login*/
    background-color: var(--bottom-hover);
    border-color: var(--bottom-hover);
}

.volver { /*estilos del botón de volver del login*/
    align-items: center;
    background-color: var(--bottom-color);
    border-color: var(--bottom-border);
    color: #fff;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}

.volver:hover { /*hover del boton de volver del login*/
    background-color: var(--bottom-hover);
    border-color: var(--bottom-hover);
}

.global_form .form_container .form_class { /*caja de los formularios*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    background:rgba(128, 128, 128, 0.4);
    margin-top: 20px; /* Reduce el margen superior del formulario */
    margin-bottom: 20px; /* Reduce el margen inferior del formulario*/
    padding: 30px; /* Ajusta el relleno del formulario según sea necesario*/
}

/* --------------ESTILOS DEL INICIO DE SESION------------------- */

.form_inicio .form_container{ /*div principal*/
    margin-top: 3%;
    max-height: 300rem;
    padding-top: 10px;
    padding: 10px; 
    
}

/* --------------ESTILOS DEL REGISTRO------------------- */

.form_registro .container-fluid .form_container{ /*div principal del reg*/
    margin-top: 3%;
    max-height: 300rem;
    padding-top: 10%;   
    padding: 10%;
    
}

/********Media Querys********/

@media (max-width:990px) {
    body{
        background-position-y: +180px;
        background-image: url(../gargantua.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    
}

@media (max-width:520px) {
    body{
       
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-x: center;
        background-image: url(../gargantua.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        
    }

    
    
}